<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pengjinfei.incubate.mapper.OrdersMapper">

	<resultMap type="com.pengjinfei.incubate.dto.OrdersDTO" id="orderAndUser">
		<id column="orderId" property="id"/>
		<result column="price" property="price"/>

		<association property="user" javaType="com.pengjinfei.incubate.model.User">
			<id column="userId" property="id"/>
			<result column="name" property="name"/>
			<result column="age" property="age"/>
		</association>
	</resultMap>


	<select id="selectOrderAndUser" resultMap="orderAndUser">
        select u.id userId,u.name name,u.age age,s.id orderId,s.price price
        from user u inner join orders s on u.id=s.user_id
        where s.id = #{id}
    </select>
</mapper>