<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC
		"-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
		"http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>

	<!-- !!!! Driver Class Path !!!! -->
	<classPathEntry location="D:\repository\mysql\mysql-connector-java\5.1.45\mysql-connector-java-5.1.45.jar"/>

	<context id="context" targetRuntime="MyBatis3">
		<commentGenerator>
			<property name="suppressAllComments" value="true"/>
			<property name="suppressDate" value="true"/>
		</commentGenerator>

		<!-- !!!! Database Configurations !!!! -->
		<jdbcConnection driverClass="com.mysql.jdbc.Driver" connectionURL="jdbc:mysql://localhost:3307/test" userId="root" password="usbw"/>

		<javaTypeResolver>
			<property name="forceBigDecimals" value="false"/>
		</javaTypeResolver>

		<!-- !!!! Model Configurations !!!! -->
		<javaModelGenerator targetPackage="com.pengjinfei.incubate.model" targetProject="THIS_CONFIGURATION_IS_NOT_REQUIRED">
			<property name="enableSubPackages" value="false"/>
			<property name="trimStrings" value="true"/>
		</javaModelGenerator>

		<!-- !!!! Table Configurations !!!! -->
		<table tableName="orders" enableCountByExample="false" enableDeleteByExample="false" enableSelectByExample="false"
			   enableUpdateByExample="false"/>
	</context>
</generatorConfiguration>